$font--standard: "Courier New";


$color--dps: lightyellow;
$color--tank: lightyellow;
$color--support: lightyellow;
$color--grey-light: #f0f0f0;

$font-size--l: 1.25em;

$space--base: 2em;
$space--m: 1em;
$space--s: .75em;
$space--xs: .5em;
$space--xxs: .25em